@import '../../global.scss';
.menu{
    
    
     position: fixed;
     top: 80px;
     width:100vw;
     height: calc(100vh - 80px);

    
    right: -100vw;
    z-index: 2;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(20, 206, 51, 0.493), rgba(255, 255, 255, 0.466));
    backdrop-filter: blur(15px);

    &.active{
        right:0;        
    }

    .left{
        flex: 0.65;

        @include tab{
            flex: 0.5;
        }

        @include mobile{
            flex: 0.25;
        }
    }
    
    .right{
        flex: 0.35;

        @include mobile {
            flex: 0.75;
            
        }

        

        .menuItems{
            
            ul{
                margin: 0;
                padding: 0;
                
                list-style: none;
                color: white;
        
                li{
                    margin-bottom: 0px;
                    line-height: 1;
                    a{
                        font-family: 'Anton', sans-serif;
                        text-transform: uppercase;
                        font-size: 2.5rem;
                        color: $txtColorPink;
                        text-decoration: none;
        
                        background-color: $txtColorPink;
          
                        /* Create the gradient. */
                        background-image: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255,255,255,1) 50.5%, rgb(18, 181, 132) 50.6%, rgb(83, 181, 18) 100%);
                        cursor:pointer;
        
                        /* Set the background size and repeat properties. */
                        background-size: 700%;
                        transition: all 0.5s ease-in-out;
        
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent; 
                        -moz-background-clip: text;
                        -moz-text-fill-color: transparent;
        
                        &:hover{
                            background-position-x: 300px;
                        }
        
                        &.active{
                            color: $txtColorPink !important;
                            background-image: none;
                            &:hover{
                                cursor: default;
                            }
        
                            // &:hover{
                            //     color: $hoverColorBlue;
                            //     font-size: inherit;
                            //     cursor: default;
                            // }
                        }
                        
                        
                        // &:hover{
                        //     color: $hoverColorGreen;
                        //     font-size: 1.2rem;
                        // }
                    }
        
                }
            }
        }
    }

}