@import"../../../../global.scss";

 .portfoliomodal-card1-body{
       
       
 }

 .portfoliomodal-card1-section{
          font-size: 17px;
          line-height: 1.6;
          font-family: "Lucida Handwriting";

 }

.portfoliomodal-card1-section-header{
    background-color: cadetblue;
    height: 9.3vh;
    width: 100%;
 }

.modal-button{
    margin-top: 1%;
    background-color: aqua;
    height: 5vh;
    width: 7vw;
    border: 2;
    color: blueviolet;
    margin-left: 25%;
    border-radius: 10px;
}


.modal-button:hover{
    background-color: chartreuse;
    cursor: pointer;
}


.portfolio-modal{
    display: block;  
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    
}


.portfolio-modal-body{
    background-color: #f4f4f4;
    padding: 20px;
    width: 97.55%;
    height: 60vh;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    display: grid;
    overflow: hidden;
    
}

.portfolio-modal-video-section-card1{
    background-color: darkkhaki;
    height: 80vh;
    width: 45vw;
    grid-column: 1/4;
    grid-row: 1;
    margin-top: -3%;
    margin-left: -3%;
}

.portfolio-modal-video-section-body-card1{
    background-image: url("../../../../images/generic-images/background_img_green15.png");
    background-color: forestgreen;
    height: 60vh;
    width: 43vw;
    margin-left: 2.5%;
    margin-top: 2%;
}

.portfolio-modal-title-section{
    background-color: dimgray;
    height: 25vh;
    width: 45vw;
    grid-column: 6/7;
    grid-row: 1;
    margin-left: -3%;
    margin-top: -3%;
}

.portfolio-modal-description-section{
    background-color: darkslategrey;
    height: 45vh;
    width: 45vw;
    grid-column: 6/7;
    grid-row: 2;
    margin-left: -3%;
    margin-top: -30.1rem;

}


.closeModalBtn-card1{
   color: aliceblue;
   float: right;
   font-size: 50px;
   margin-right: 1%;
  
}


.closeModalBtn-card1:hover{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}