@import"../../../../global.scss";

 .portfoliomodal-card1-body{
       
       
 }

 .portfoliomodal-card1-section{
          font-size: 17px;
          line-height: 1.6;
          font-family: "Lucida Handwriting";

 }

.modal-button{
    background-color: aqua;
    height: 5vh;
    width: 7vw;
    border: 2;
    color: blueviolet;
    margin-left: 25%;
    border-radius: 10px;
}


.modal-button:hover{
    background-color: chartreuse;
    cursor: pointer;
}


.portfolio-modal{
    display: none;  
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);

}


.portfolio-modal-body{
    background-color: #f4f4f4;
    margin: 5% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
   

}


.closeModalBtn-card1{
   color: aliceblue;
   float: right;
   font-size: 30px;
}


.closeModalBtn-card1:hover, .closeModalBtn-card1:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;

}