@import"../../global.scss";

.designux-section{
    padding: 0;
    margin: 0;
    height: 100%;
      
}

.designux-container{
    // background-image: url("../../images/background_img_green.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: #C4F59D;
    place-items: center center;
    font-family: "Lucida Handwriting";
    border: 3px solid black;
    display: flex;
}

.designux-container::before{
    content: "";  
    position: absolute;
    width: 49.8%;
    height: 100%;
    // background-image: url("../../../images/background_img_green15.png");
     background-color: #2A4421;
 
}


.designux{
   margin: 0 auto;
   width: 95%;
   margin-top: -5rem;
    
}

.designux-header{
  padding: 10px;
  text-transform: uppercase;
  justify-content: center;
  
}


.designux-h1{
   font-family: "Lucida Handwriting";
   font-weight: 500;
   color:rgba(245, 245, 245, 0.904);
   transform: skewX(0deg);
   text-decoration: underline white;
   background: linear-gradient(rgba(20, 206, 76, 0), rgba(10, 182, 76, 0.062));
   border-radius: 50px;
   width: 43vw;
   border-radius: 13px;
   box-sizing: border-box;
   box-shadow: 1px 1px 5px black;
   text-align: center;
}

.designux-header h1{
    font-size: 60px;
    margin-left: 31%;
}

.designux-header h1:hover{
    color: azure;
    font-weight: bolder;
    font-style: italic;  
    text-shadow: 4px 4px 4px 4px white;
    transition: 0.3s all ease-in-out;
}


.designux-gallery-cards{
    display: inline-flex;
    transition: transform 0.3s ease-out;
    transform: translateX(0);
    width: 100%;
    padding: 20px;
    grid-gap:20px;
    transform: skewX(0deg);
    margin-top: 5%;
}


.designux-gallery-card{
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    height: 98%;
    width: 90%;
    border-radius: 13px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
}


.designux-gallery-card:hover{
    transform-style: preserve-3d;
    transform: scale(1.05);
    transition: all ease 0.2s;
    cursor: pointer;
}


.designux-gallery-card1:hover{
    transform-style: preserve-3d;
    transform: scale(1.05);
    transition: all ease 0.2s;
    cursor: pointer;
}


.designux-gallery-card2:hover{
      transform-style: preserve-3d;
      transform: scale(1.05);
      transition: all ease 0.2s;
      cursor: pointer;
}

.designux-gallery-card3:hover{
    transform-style: preserve-3d;
    transform: scale(1.05);
    transition: all ease 0.2s;
    cursor: pointer;
}


.designux-gallery-card4:hover{
    transform-style: preserve-3d;
    transform: scale(1.05);
    transition: all ease 0.2s;
    cursor: pointer;
}


.designux-gallery-container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
    box-shadow: 0 0 30px rgba(0,0,0,0.18);

}


.designux-gallery-container1{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
    box-shadow: 0 0 30px rgba(0,0,0,0.18);

}


.designux-gallery-container2{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
    box-shadow: 0 0 30px rgba(0,0,0,0.18);

}


.designux-gallery-container3{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
    box-shadow: 0 0 30px rgba(0,0,0,0.18);

}


.designux-gallery-container4{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}


.designux-gallery-container::after{
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 20px 20px 0 0;
      opacity: 0.7;
}


.designux-gallery-container1::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;

}


.designux-gallery-container2::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;

}


.designux-gallery-container3::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;

}


.designux-gallery-container4::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;

}


.designux-gallery-card>.designux-gallery-container::after{
    background-image: linear-gradient(135deg, #0100ec, #fb36f4);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);

}

.designux-gallery-card>.designux-gallery-container1::after{
    background-image: linear-gradient(135deg, #0100ec, #fb36f4);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);

}


.designux-gallery-card>.designux-gallery-container2::after{
    background-image: linear-gradient(135deg, #0100ec, #fb36f4);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}


.designux-gallery-card>.designux-gallery-container3::after{
    background-image: linear-gradient(135deg, #0100ec, #fb36f4);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);

}


.designux-gallery-card>.designux-gallery-container4::after{
    background-image: linear-gradient(135deg, #0100ec, #fb36f4);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);

}


.designux-gallery-img{
     width: 100%;
     background-color: #2A4421;
     display: block;
     border-radius: 20px 20px 0 0;  
}

.designux-gallery-details{
     padding: 20px 10px;
     font-size: 100%;
     
}


.designux-gallery-h3{
     color: aliceblue;
     font-weight: 600;
     font-size: 18px;
     margin: 10px 0 15px 0;

}


.designux-gallery-details>p{
    color: #a0a0a0;
    line-height: 20px;
    font-weight: 400;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    border-radius: 3%;
    
}


.designux-button-card1{
    flex-wrap: wrap;
    background-color: #7da76f;
    width: 15vw;
    margin-left: 16%;
    cursor: pointer;
    margin-top: 2%;
    padding: 8px 10px;
    font-size: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px black;
}


.designux-button-card2{
    flex-wrap: wrap;
    // background: linear-gradient(rgba(20, 206, 76, 0.555), rgba(10, 182, 76, 0.479));
    background-color: #7da76f;
    width: 15vw;
    margin-left: 16%;
    cursor: pointer;
    margin-top: 2%;
    padding: 8px 10px;
    font-size: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px black;
}


.designux-button-card3{
    flex-wrap: wrap;
    // background: linear-gradient(rgba(20, 206, 76, 0.555), rgba(10, 182, 76, 0.479));
    background-color: #7da76f;
    width: 15vw;
    margin-left: 16%;
    cursor: pointer;
    margin-top: 2%;
    padding: 8px 10px;
    font-size: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px black;
}


.designux-button-card4{
    flex-wrap: wrap;
    // background: linear-gradient(rgba(20, 206, 76, 0.555), rgba(10, 182, 76, 0.479));
    background-color: #7da76f;
    width: 15vw;
    margin-left: 16%;
    cursor: pointer;
    margin-top: 2%;
    padding: 8px 10px;
    font-size: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px black;
}

