@import "../../global.scss";

.skills-container{
    // background: linear-gradient(rgba(20, 206, 51, 0.493), rgba(255, 255, 255, 0.466)); 
    display: flex; 
    height: 100%;
    width: 100%;
    justify-content: center;
    background-size: cover;
    background-position: center;
    // background-color: #2A4421;    
    border: 3px solid black;
    transform: skewX(0deg);
    background-color: #C4F59D;
    margin-left: -.3%;
    
}    
    
.skills-container::before{
    content: "";  
    position: absolute;
    // top: 0;
    left: 0;
    width: 50.2%;
    height: 100%;
    // background-image: url("../../../images/background_img_green15.png");
   background-color: #2A4421;    
   
}


.skills{ 

.skills-header h1{
    // color: #2A4421;
    color:rgba(255, 255, 255, 0.87);
    text-decoration: underline white;
    text-transform: uppercase;
    font-family: "Lucida Handwriting";
    font-style: italic;
    transform: skew(0deg);
    border-radius: 13px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
}

.skills-header h1:hover{
    color: azure;
    font-weight: bolder;
    font-style: italic;
    text-shadow: 4px 4px 4px 4px white;
    transition: 0.3s ease-in-out;
    transform: scale(1.045);
    transform: skew(4deg);
}

.skills-h1{
    background: linear-gradient(rgba(20, 206, 76, 0.068), rgba(10, 182, 76, 0.062));
    margin-top: 1rem;
    width: 20vw;
    border-radius: 70px;
    margin-left: 40%;
    text-align: center;
    text-decoration: double underline;
    font-size: 53px;
}

}

.skills-section-content{
       display: grid;
       grid-template-columns: 51% 49%;
       grid-auto-rows: minmax(100px, auto);
       transform: skewX(0deg);
       padding: 1%;
       align-items: center;
       margin-top: 1.5rem;
    }   
  
  
  .skills-content1{
        display: flex;
        padding: 2px;
        margin-top: -8rem;
        grid-column: 1/3;
        grid-row: 1/3;
        text-align: center;
        justify-content: center;
        font-size: 100%;
        width: 95%;
        justify-self: center;
        grid-gap: 2rem;
        overflow-y: hidden;
  }
  
  .skills-content1 .skills-card1{
      height: 13vh;
      width: 10vw;
      background-image: url("../../images/skills-image/html_icon.png");
      align-self: center;
      background-size: cover;
      background-position: 50% 30%;
      border-radius: 50%;
      border: 2px solid black;
  }

  .skills-content1 .skills-card1:hover{
    transition: 0.3s all;
    transform: scale(1.045);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;  
  }
  
  
  .skills-content1 .skills-card2{
      height: 13vh;
      width: 10vw;
      background-image: url("../../images/skills-image/css_icon.png");
      background-size: cover;
      background-position: 50% 30%;
      border-radius: 50%;
      border: 2px solid black;
  }

  .skills-content1 .skills-card2:hover{
    transition: 0.3s all;
    transform: scale(1.045);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;  
  }
  
  .skills-content1 .skills-card3{
      height: 13vh;
      width: 10vw;
      background-image: url("../../images/skills-image/php_icon.png");
      background-position: 50% 30%;
      background-size: cover;
      border-radius: 50%; 
      border: 2px solid black;
  }

  .skills-content1 .skills-card3:hover{
    transition: 0.3s all;
    transform: scale(1.045);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;  
  }
  
  .skills-content1 .skills-card4{
      height: 13vh;
      width: 10vw;
      background-image: url("../../images/skills-image/vsCode_icon.png");
      background-size: cover;
      background-position: 50% 30%;
      border-radius: 50%;
      border: 2px solid black;
  }
  
 .skills-content1 .skills-card4:hover{
    transition: 0.3s all;
    transform: scale(1.045);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;  
 }

  .skills-content1 .skills-card5{
      height: 13vh;
      width: 10vw;
      background-image: url("../../images/skills-image/react_icon.png");
      background-size: cover;
      background-position: 50% 30%;
      border-radius: 50%;
      border: 2px solid black;
  }
  
  .skills-content1 .skills-card5:hover{
    transition: 0.3s all;
    transform: scale(1.045);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;  
  }
  
  .skills-content1 .skills-card6{
      height: 13vh;
      width: 10vw;
      background-image: url("../../images/skills-image/javascript_icon.png");
      background-size: cover;
      background-position: 50% 30%;
      border-radius: 50%;
      border: 2px solid black;
  }
  
  .skills-content1 .skills-card6:hover{
    transition: 0.3s all;
    transform: scale(1.045);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;  
  }
  
  .skills-content1 .skills-card7{
      height: 13vh;
      width: 10vw;
      background-image: url("../../images/skills-image/laraval_icon.png");
      background-size: cover;
      background-position: 1% 30%;
      border-radius: 50%;
      border: 2px solid black;
  }

  .skills-content1 .skills-card7:hover{
    transition: 0.3s all;
    transform: scale(1.045);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;  
  }
  
  .skills-content1 .skills-card8{
      height: 13vh;
      width: 10vw;
      background-image: url("../../images/skills-image/nodejs_icon.png");
      background-size: cover;
      background-position: 50% 30%;
      border-radius: 50%; 
      border: 2px solid black;
  }

  .skills-content1 .skills-card8:hover{
    transition: 0.3s all;
    transform: scale(1.045);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;  
  }
  
  .skills-content1 .skills-card9{
      height: 13vh;
      width: 10vw;
      background-image: url("../../images/skills-image/mysql_icon.png");
      background-size: cover;
      background-position: 50% 50%;
      border-radius: 50%;
      border: 2px solid black;
  }
  
  .skills-content1 .skills-card9:hover{
    transition: 0.3s all;
    transform: scale(1.045);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;  
  }

  .skills-content1 .skills-card10{
      height: 13vh;
      width: 10vw;
      background-image: url("../../images/skills-image/angular_icon.png");
      background-size: cover;
      background-position: 50% 30%;
      border-radius: 50%;
      border: 2px solid black;
  }

  .skills-content1 .skills-card10:hover{
    transition: 0.3s all;
    transform: scale(1.045);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;  
  }
  
  .skills-content1 .skills-card11{
      height: 13vh;
      width: 10vw;
      background-image: url("../../images/skills-image/github2_icon.png");
      background-position: 50% 30%;
      background-size: cover;
      border-radius: 50%;
      border: 2px solid black;
  }

  .skills-content1 .skills-card11:hover{
    transition: 0.3s all;
    transform: scale(1.045);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;  
  }
  
  .skills-content1 .skills-card12{
      height: 13vh;
      width: 10vw;
      background-image: url("../../images/skills-image/Adobe_icon.png");
      background-size: cover;
      background-position: 50% 30%;
      border-radius: 50%;
      border: 2px solid black;
  }
  
  .skills-content1 .skills-card12:hover{
    transition: 0.3s all;
    transform: scale(1.045);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;  
  }
  
  .skills-content2{
    // background-color: rgba(127, 255, 170, 0.192);
    background: linear-gradient(rgba(20, 206, 76, 0.178), rgba(10, 182, 76, 0.075));
    padding: 4px;
    width: 46vw;
    height: 58vh;
    margin-top: -5rem;
    margin-left: 1.5%;
    border-radius: 13px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
  }
  
  .skills-content2-container{
       height: 53vh;
       cursor: pointer;
  }

  .skills-content2-header{
    background: linear-gradient(rgba(20, 206, 76, 0.178), rgba(10, 182, 76, 0.075));
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
  }

  .skills-content2-header h1{
    font-weight: bold;
    color: rgb(99, 233, 122);
    height: 5vh;
    text-transform: uppercase;   
    text-decoration: underline;
}

.skills-content2-header h1:hover{
    color: azure;
    font-weight: bolder;
    font-style: italic;  
    text-shadow: 4px 4px 4px 4px white;
    transition: 0.3s all ease-in-out;
}

.skills-content2-cards{
    height: 50vh;
    border-radius: 10%;
    margin-top: 1.5%;
}

.content2-container{
   display: grid;
}

.skills-content2-card1{
    height: 15vh;
    width: 44vw;
    margin-left: 1.8%;
}

.skills-content2-card1-img{
    background-image: url("../../images/generic-images/responsive_img.png");
    height: 13vh;
    width: 11vw;
    grid-column: 1/4;
    grid-row: 1;
    margin-top: 7%;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    margin-left: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10%;
}

.skills-content2-card1-img:hover{
    transition: 0.3s all;
    transform: scale(1.045);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;  
  }

.skills-content2-section{
    background: linear-gradient(rgba(20, 206, 76, 0.178), rgba(10, 182, 76, 0.075));
    height: 13vh;
    width: 30vw;
    grid-column: 4/6;
    grid-row: 1;
    border-radius: 20px;
    margin-top: 3%;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
}

.skills-content2-section h2{
    color: rgb(99, 233, 122);
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 7%;
}

.skills-content2-section h2:hover{
color: azure;
font-weight: bolder;
font-style: italic;  
text-shadow: 4px 4px 4px 4px white;
transition: 0.3s all ease-in-out;
}

.content2-container2{
    display: grid;
 }

.skills-content2-card2{
    height: 15vh;
    width: 44vw;
    margin-left: 1.8%;
}

.skills-content2-card2-img{
    background-image: url("../../images/generic-images/webapp_img.png");
    height: 13vh;
    width: 11vw;
    grid-column: 1/4;
    grid-row: 1;
    margin-top: 3%;
    border-radius: 20px;
    margin-top: 9%;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    margin-left: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10%;
}

.skills-content2-card2-img:hover{
    transition: 0.3s all;
    transform: scale(1.045);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;  
  }

.skills-content2-section2{
    background: linear-gradient(rgba(20, 206, 76, 0.178), rgba(10, 182, 76, 0.075));
    height: 13vh;
    width: 30vw;
    grid-column: 4/6;
    grid-row: 1;
    border-radius: 20px;
    margin-top: 4%;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
}

.skills-content2-section2 h2{
    color: rgb(99, 233, 122);
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 7%;
}

.skills-content2-section2 h2:hover{
    color: azure;
    font-weight: bolder;
    font-style: italic;  
    text-shadow: 4px 4px 4px 4px white;
    transition: 0.3s all ease-in-out;
}

.skills-content2-section2:hover{
    transition: 0.3s all;
    transform: scale(1.045);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;  
  }

.content2-container3{
    display: grid;
 }

.skills-content2-card3{
    height: 15vh;
    width: 44vw;
    margin-left: 1.8%;
    
}

.skills-content2-card3-img{
    background-image: url("../../images/generic-images/mobile_img.png");
    height: 13vh;
    width: 11vw;
    grid-column: 1/4;
    grid-row: 1;
    margin-top: 12%;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    margin-left: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 8% 38%; 
}

.skills-content2-card3-img:hover{
    transition: 0.3s all;
    transform: scale(1.045);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;  
  }

.skills-content2-section3{
    background: linear-gradient(rgba(20, 206, 76, 0.178), rgba(10, 182, 76, 0.075));
    height: 13vh;
    width: 30vw;
    grid-column: 4/6;
    grid-row: 1;
    border-radius: 20px;
    margin-top: 5%;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
}

.skills-content2-section3 h2{
    color: rgb(99, 233, 122);
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 7%;
}

.skills-content2-section3 h2:hover{
    color: azure;
    font-weight: bolder;
    font-style: italic;  
    text-shadow: 4px 4px 4px 4px white;
    transition: 0.3s all ease-in-out;
}

.skills-content2-section3:hover{
    transition: 0.3s all;
    transform: scale(1.045);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;  
  }

  .skills-content2:hover{
      transition: 0.3s all;
     transform: scale(1.045); 
  }
  
  
  .skills-content3{
      background-color: rgba(127, 255, 170, 0.192);
      padding: 4px;
      width: 46vw;
      height: 58vh;
      margin-top: -5rem;
      margin-left: 1.5%;
      border-radius: 13px;
      box-sizing: border-box;
      box-shadow: 1px 1px 5px black;
  }
  
  .skills-content3-container{
       height: 450px;
       cursor: pointer;
  }

  .skills-content3-header{
      background: linear-gradient(rgba(20, 206, 76, 0.178), rgba(10, 182, 76, 0.075));
      height: 5vh;
      width: 100%;
      border-radius: 20px;
      text-align: center;
  }

  .skills-content3-header h1{
    font-weight: bold;
    color: rgb(14, 75, 51);
    text-transform: uppercase;
    text-decoration: underline;
  }

  

  .skills-content3-header h1:hover{
    color: azure;
    font-weight: bolder;
    font-style: italic;  
    text-shadow: 4px 4px 4px 4px white;
    transition: 0.3s all ease-in-out;
  }

  .skills-content3-cards{
        margin-top: 2%;
        // background: linear-gradient(rgba(20, 206, 76, 0.178), rgba(10, 182, 76, 0.075));
        height: 50vh;
        width: 100%;   
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        margin-left: .5%;
  }

  .skills-content3-card1{
      background: linear-gradient(rgba(20, 206, 76, 0.068), rgba(10, 182, 76, 0.062));
      height: 45vh;
      width: 14vw;
      border-radius: 20px;
      overflow: hidden;
  }

  .skills-content3-card1 p{
      font-size: 20px;
      color: rgb(14, 75, 51);
      font-weight: bolder;
      margin-left: -15%;
      text-transform: uppercase;
  }

  .skills-card1-header{
      background: linear-gradient(rgba(20, 206, 76, 0.404), rgba(10, 182, 76, 0.205));
      height: 5vh;
      overflow: hidden;
      text-align: center;
  }

  .skills-card1-header h1{
      font-weight: bold;
      color: rgb(14, 75, 51);
  }

  .skills-card1-header h1:hover{
      color: azure;
      font-weight: bolder;
      font-style: italic;  
      text-shadow: 4px 4px 4px 4px white;
      transition: 0.3s all ease-in-out;
   }

  .skills-content3-card1:hover{
    transition: 0.3s all;
    transform: scale(1.045);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;  
  }

  .skills-content3-card2{
    background: linear-gradient(rgba(20, 206, 76, 0.068), rgba(10, 182, 76, 0.062));
    overflow: hidden;
    height: 45vh;
    width: 14vw;
    border-radius: 20px;
}

.skills-content3-card2 p{
    font-size: 20px;
    color: rgb(14, 75, 51);
    font-weight: bolder;
    text-transform: uppercase;
    margin-left: 10%;
}

.skills-card2-header{
    background: linear-gradient(rgba(20, 206, 76, 0.404), rgba(10, 182, 76, 0.205));
    overflow: hidden;
    height: 5vh;
}

.skills-card2-header h1{
    font-weight: bold;
    color: rgb(14, 75, 51);
    text-align: center;
}

.skills-card2-header h1:hover{
    color: azure;
      font-weight: bolder;
      font-style: italic;  
      text-shadow: 4px 4px 4px 4px white;
      transition: 0.3s all ease-in-out;
      }

.skills-content3-card2:hover{
    transition: 0.3s all;
    transform: scale(1.045);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;  
}

.skills-content3-card3{
    background: linear-gradient(rgba(20, 206, 76, 0.068), rgba(10, 182, 76, 0.062));
    height: 45vh;
    width: 14vw;
    border-radius: 20px;
    overflow: hidden;
}

.skills-content3-card3 p{
    font-size: 20px;
    color: rgb(14, 75, 51);
    font-weight: bolder;
    margin-left: 10%;
    text-transform: uppercase;
}

.skills-card3-header{
    background: linear-gradient(rgba(20, 206, 76, 0.404), rgba(10, 182, 76, 0.205));
    height: 5vh;
}

.skills-card3-header h1{
    font-weight: bold;
    color: rgb(14, 75, 51);
    text-align: center;
}

.skills-card3-header h1:hover{
  color: azure;
    font-weight: bolder;
    font-style: italic;  
    text-shadow: 4px 4px 4px 4px white;
    transition: 0.3s all ease-in-out;
    }

.skills-content3-card3:hover{
    transition: 0.3s all;
    transform: scale(1.045);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;  
}
  
  .skills-content3:hover{
      transition: 0.3s all;
     transform: scale(1.045); 
  }
  
  