$mainBgColor: #010408;
$maincolor: #07162b;

$txtColorDarkGray: #767C84;
$txtColorLightGray: #A0A5A6;
$txtColorLighterGray: #e7e7e7;

$txtColorGreen: #4a8d19;
$hoverColorGreen: #97BF7B;
$txtColorDrForestLight: #C7D9B9;

$bgGreenLaural: #a9ba9d;

$txtColorPink: #0dca36;
$btnColorPinkDarker: #2db512;

$aboutBgColor: #65686f;

$title-fontSize: 2.5rem;

$width: 768px;
$tab-width: 1024px;

@mixin mobile{
    @media (max-width: #{$width}){
        @content
    }
};

@mixin tab{
    @media (max-width: #{$tab-width}) {
        @content
    }
};